body,h1,h2,h3,h4,h5,h6,p {
    font-family: "Verdana", sans-serif;
}

.w3-bar-block .w3-bar-item {
    padding:20px;
}

header {
    background-color:#212529;
    color:#FFFFFF;
}

header p {
    color:#CCCCCC;
}

.oddRow {
    background-color: #E6F0FF;
}

.evenRow{
    background-color: #E1ECFF;
}

body{
    background-color: #D0E0FF;
}