<style>
    footer {
        padding-top: 3rem;
    }
    
    footer p {
        margin-bottom: .25rem;
    }
</style>

<footer style="background-color: #5465FF;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <h5 class="mb-3 text-light"><a style="color:#eeeeee" href="https://github.com/wpidlib">WPID Library<img class="rounded-circle me-3 pl-2" src="../images/github.png" alt="GitHub" style="max-height:40px;"/></a></h5>
          <p style="color: #dfdfdf;"> 
            WPID is a high level PID library built for the V5 system, written using the VEXcode API. 
            WPID was built with ease of use in mind, and allows teams to quickly implement
             the library and start moving their robot autonomously.
          </p>
        </div>
        <div class="col-lg-2 col-md-6 mb-4">
          <h5 class="mb-3 text-light">Links</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="../documentation/annotated.html" style="color: #dfdfdf;">Documentation</a>
            </li>
            <li class="mb-1">
              <a href="../tutorial/tutorials.html" style="color: #dfdfdf;">Tutorials</a>
            </li>
            <li class="mb-1">
              <a href="../faq/faq.html" style="color: #dfdfdf;">FAQ</a>
            </li>
            <li>
              <a href="../index.html#aboutUs" style="color: #dfdfdf;">About Us</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 mb-4">
          <h5 class="mb-1 text-light">Contact Us</h5>
          <table class="table mt-4 text-light" style="border-color: #666;">
            <tbody>
              <tr>
                <td><a style="color:#eeeeee" href="mailto:wpidlib@gmail.com"><img class="rounded-circle me-3" src="../images/email.png" alt="Email"  style="max-height:20px;"/>WPID Team</a></td>
                <td><a style="color:#eeeeee" href="mailto:austinrebello02@gmail.com"><img class="rounded-circle me-3" src="../images/email.png" alt="Email"  style="max-height:20px;"/>Austin</a></td>
                <td><a style="color:#eeeeee" href="mailto:nunie@gmail.com"><img class="rounded-circle me-3" src="../images/email.png" alt="Email"  style="max-height:20px;"/>Brianna</a></td>
                <td><a style="color:#eeeeee" href="mailto:jair3202@gmail.com"><img class="rounded-circle me-3" src="../images/email.png" alt="Email"  style="max-height:20px;"/>Jair</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2);">
      Powered By BootStrap
    </div>