<style>
    footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    footer p {
        margin-bottom: .25rem;
    }
</style>

<footer style="background-color: #5465FF;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <h5 class="mb-3 text-light">WPID Library</h5>
          <p style="color: #dfdfdf;"> 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
            voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <div class="col-lg-2 col-md-6 mb-4">
          <h5 class="mb-3 text-light">Links</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="../documentation/annotated.html" style="color: #dfdfdf;">Documentation</a>
            </li>
            <li class="mb-1">
              <a href="../tutorial/tutorials.html" style="color: #dfdfdf;">Tutorials</a>
            </li>
            <li class="mb-1">
              <a href="../faq/faq.html" style="color: #dfdfdf;">FAQ</a>
            </li>
            <li>
              <a href="../index.html#aboutUs" style="color: #dfdfdf;">About Us</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 mb-4">
          <h5 class="mb-1 text-light">Contact Us</h5>
          <table class="table mt-4 text-light" style="border-color: #666;">
            <tbody>
              <tr>
                <td>WPID Team</td>
                <td>Austin</td>
                <td>Brianna</td>
                <td>Jair</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>Email</td>
                <td>Email</td>
                <td>Email</td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2);">
      Powered By BootStrap
    </div>